GRAFANA_ADMIN_USER=admin
GRAFANA_ADMIN_PASSWORD=admin

PROMETHEUS_PORT=9090
GRAFANA_PORT=3000
LOKI_PORT=3100
ALERTMANAGER_PORT=9093

RURIK_APP_HOST=host.docker.internal

NODE_EXPORTER_PORT=9100
CADVISOR_PORT=18080
POSTGRES_EXPORTER_PORT=9187
NGINX_EXPORTER_PORT=9113

AUTH_SERVICE_PORT=3000
LEADERBOARD_SERVICE_PORT=3001
GAME_SERVICE_PORT=3002